section {
	display: grid;
	grid-template-columns: 1fr 3fr;
	min-height: 100svh;
	@media screen and (max-width: 1023px) {
		grid-template-columns: unset;
		grid-template-rows: auto 1fr;
	}
}

section .left{
	background: var(--blue);
	color: var(--white);
	padding: 6rem 4rem;
	@media screen and (max-width: 1023px) {
		padding: 2rem;
	}
}

section .right {
	display: grid;
	grid-template-rows: auto 1fr;
	align-items: center;
	gap: 2rem;
	padding: 4rem;
	@media screen and (max-width: 1023px) {
		padding: 2rem;
	}
}

form {
	display: grid;
	align-items: start;
	gap: 2rem;
	height: fit-content;
}

form .two-col {
	display: grid;
	gap: 2rem;
	@media screen and (min-width: 1024px) {
		grid-template-columns: 1fr 1fr;
	}
}
form .input {
	display: grid;
}

form textarea {
	resize: none;
	height: 10rem;
section {
	display: grid;
	grid-template-columns: 1fr 3fr;
	min-height: 100svh;
	@media screen and (max-width: 1023px) {
		grid-template-columns: unset;
		grid-template-rows: auto 1fr;
	}
}

section .left{
	background: var(--blue);
	color: var(--white);
	padding: 6rem 4rem;
	@media screen and (max-width: 1023px) {
		padding: 2rem;
	}
}

section .right {
	display: grid;
	grid-template-rows: auto 1fr;
	align-items: center;
	padding: 4rem;
	@media screen and (max-width: 1023px) {
		padding: 2rem;
	}
}

form {
	display: grid;
	align-items: start;
	height: fit-content;
}

form .two-col {
	display: grid;
	@media screen and (min-width: 1024px) {
		grid-template-columns: 1fr 1fr;
	}
}
form .input {
	display: grid;
}
}

form textarea {
	resize: none;
	height: 12rem;
	@media screen and (max-width: 1023px) {
		height: 10rem;
	}
}

input, select, textarea, button {
	font-size: larger;
	height: 3rem;
	border: 2px solid var(--blue);
	border-radius: 8px;
	background: none;
}

button {
	cursor: pointer;
	color: var(--white);
	background: var(--orange);
	border: 2px solid var(--orange);
}

button:hover {
	opacity: 0.9;
}

#loading {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: grid;
	justify-items: center;
	align-items: center;
	background: #000000AA;
	height: 100svh;
}

.spinner {
	position: relative;
	width: 80px;
	height: 80px;
	margin-inline: auto;
}

.spinner div {
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid var(--orange);
	border-radius: 50%;
	animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: var(--orange) transparent transparent transparent;
}

.spinner div:nth-child(1) {
	animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
	animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
