package templates

templ Logo() {
	<div class="logo">
		<img src="/static/imgs/sittella_logo.svg" height="75px" width="75px" alt="Sittella Lab Logo"/>
		<p>Sittella <span style="color: var(--orange);">Lab</span></p>
	</div>
}
